#app-container {
  & .modal {
    display: block;
    opacity: 1;
    & button {
      & i {
        opacity: 0.6;
      }
    }
  }
}

.ghost-element {
    position: absolute;
    z-index: 1000;
    margin: 0;
    pointer-events: none;
    background: orange;
    opacity: 0.5;
}
